@import "tailwindcss";

@theme {

--bg-brand-gradient: linear-gradient(90deg, #5B7CFA, #7DA0FA);
--background-image-sidebar-gradient: linear-gradient(to bottom, #4F6EEA, #6FA8FF);
--font-roboto: "Roboto", sans-serif;
--font-poppins: "Poppins", sans-serif;
--font-inter: "Inter", sans-serif;
--font-sans: "Inter", ui-sans-serif, system-ui;
}
